html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    font-family: 'Cairo', sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 1.231
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px
}


label {
    cursor: pointer
}

#container {
    position: relative;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){  }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){  }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){  }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){  }


#container>header {
    padding: 0;
    position:fixed;
    background: #000000;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.27);
    height: 60px;
    position: fixed;
    z-index: 5;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){  }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){  }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){  }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){  }



.pagewidth {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1200px;
    position: relative;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){ .pagewidth {width: 90%; } }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){ .pagewidth {width: 90%; }}
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){ .pagewidth {width: 768px; } }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px) { .pagewidth {width: 992px; } }

header {
    float: left;
    position: relative;
    width: 100%
}


#container>header hgroup {
    float: left;
    line-height: 60px;
    height: 60px;
    padding-left: 120px;
    position: relative;
    font-size: 30px;
    color: #dadada;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){  }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){  }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){  }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){  }


#container>header hgroup:before {
    background: url(/Images/icon_color.png);
    content: '';
    height: 80px;
    padding: 5px;
    position: absolute;
    left: 0;
    top: -2px;
    width: 80px;
    background-size: 100%;
    box-shadow: 0px 0px 10px #000000;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){  }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){  }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){  }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){  }


#container>header nav {
    float: right
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){  }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){  }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){  }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){  }

.portfolio {
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 100px;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){  }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){  }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){  }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){  }

.portfolio article {
    background: #f9f9f9;
    border: 1px solid #b9b9b9;
    margin: 2%;
    float: left;
    overflow: hidden;
    padding: 9px;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    width: 29%;
    min-height: 180px;
    box-shadow: 2px 2px 10px #8c8c8c;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 479px){ .portfolio article{width:100%} }
/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){ .portfolio article{width: 46%;} }
/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 991px){ .portfolio article{width: 46%;} }
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) and (max-width: 1200px){ .portfolio article{width: 29%;} }

/*.portfolio article:nth-child(3n+1) {
    clear: left;
    margin-left: 0
}*/

.portfolio article:hover {
    border: 5px solid #9E9E9E;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom:1}



@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (max--moz-device-pixel-ratio:2) {

}

