<!DOCTYPE html>
<html ng-app="chin2km">
<head>
    <title>Chin2 da ;)</title>
    <!--Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta http-equiv='Cache-control' content='no-cache' />
    <meta http-equiv='Expires' content='-1' />
    <meta http-equiv='pragma' content='no-cache' />


    <!--FAVICON FOR Windows8/10-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="Images/icon_color.png" />

    <meta name="application-name" content="Chintu Kishen KM" />
    <meta name="msapplication-square70x70logo" content="small.jpg" />
    <meta name="msapplication-square150x150logo" content="medium.jpg" />
    <meta name="msapplication-wide310x150logo" content="wide.jpg" />
    <meta name="msapplication-square310x310logo" content="large.jpg" />
    <meta name="msapplication-TileColor" content="#296e47" />

    <!--JS-->
    <script src="js_setup/Angular.js"></script>
    <script src="js_setup/Angular-Route.js"></script>

    <!--CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link href="css/Loader.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <div id="container" ng-controller="NavigationController">
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg" title={{chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg}}>
            <div class="pagewidth">

                <a href="">
                    <hgroup>
                        <logo>
                            <div class="theme-panel">
                                <div class="theme-rect" ng-repeat="(key, value) in chin2kmThemes.allThemes" ng-click="setTheme(key)" ng-class="chin2kmThemes.allThemes[key].bg">
                                    <i class="material-icons" ng-if="chin2kmThemes.activeTheme==key">done</i>
                                </div>
                            </div>
                        </logo>
                        CHIN2KM.COM
                    </hgroup>
                </a>

            </div>
        </header>

        <div class="pagewidth">

            <div ng-view></div>
        </div>

    </div>



    <div id="LoaderAnime" ng-show="loaderVisibility">
        <div>
            <div class="wrapper">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <span>{{loaderText?"Just a moment...":"Just a moment..."}}</span>
        </div>
    </div>

    <script src="ng_app/App.js"></script>
    <script src="ng_app/common/AppService.js"></script>
    <script src="ng_app/common/Constants.js"></script>
    <script src="ng_app/common/Directives.js"></script>
    <script src="ng_app/common/NavigationController.js"></script>
    <script src="ng_app/common/Filters.js"></script>
    <script src="ng_app/common/Directives/Infinite-Scroll.js"></script>
    <script src="ng_app/common/Directives/Toast-Notifications.js"></script>

    <!--works-->
    <script src="ng_app/components/works/works.service.js"></script>
    <script src="ng_app/components/works/works.controller.js"></script>
    <script src="ng_app/components/works/works.module.js"></script>


</body>
</html>
