/*Theme Colors*/
$theme-red : #e50f2e;
$theme-orange : #ec8147;
$theme-yellow:#ffcb43;
$theme-pink:#99227c;
$theme-green:#67b150;
$theme-purple: #633392;
$theme-blue:#006bb5;
$theme-teal:#0ba2a0;

/*MIXINS*/
@mixin css3($property, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$property}: $value;
    }
}

@mixin breakpoint($point) {
    @if $point == smallest {
        @media only screen and (max-width: 479px) { 
            @content;
        }
    }
    @else if $point == small {
        @media only screen and (min-width: 480px) and (max-width:767px) {
            @content;
        }
    }
    @else if $point == medium {
        @media only screen and (min-width: 768px) and (max-width:991px) {
            @content;
        }
    }
    @else if $point == large {
        @media only screen and (min-width: 992px) and (max-width:1200px) {
            @content; 
        }
    }
}


html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    font-family: 'Cairo',sans-serif!important;
    @include css3(text-size-adjust,100%);
}

body {
    height: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    background: #2A2931;
}

#top-image {
    background: url(/Images/bgg.jpg);
    position:fixed;
    width:100%;
    z-index:0;
    height:100%;
    background-position: -25px -50px;
    background-size: calc(100% + 150px) calc(100% + 20px);
    background-repeat: no-repeat;
    @include css3(transition, all 0.1s ease-out);
}


h1,h2,h3,h4,h5,span,i {
    cursor: default!important
}

.black-bg {
    background: #000 !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.black-font {
    color: #000 !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.white-font {
    color: #fff !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.white-bg {
    background: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.red-bg {
    background: $theme-red !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.red-font {
    color: $theme-red !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.orange-bg {
    background: $theme-orange !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.orange-font {
    color: $theme-orange !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.yellow-bg {
    background: $theme-yellow !important;
    color: #fff !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.yellow-font {
    color: $theme-yellow!important;
    @include css3(transition, .5s ease);
    transition-property: background , color;
}

.pink-bg {
    background: $theme-pink !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color;
}

.pink-font {
    color: $theme-pink !important;
    @include css3(transition, .5s ease);
    transition-property: background , color;
}

.green-bg {
    background: $theme-green !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color;
}

.green-font {
    color: $theme-green !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.purple-bg {
    background: $theme-purple !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.purple-font {
    color: $theme-purple !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.blue-bg {
    background: $theme-blue !important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.blue-font {
    color: $theme-blue !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.teal-bg {
    background: $theme-teal!important;
    color: #fff!important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

.teal-font {
    color: $theme-teal !important;
    @include css3(transition, .5s ease);
    transition-property: background , color
}

label {
    cursor: pointer
}

#container {
    position: relative
}

#container{
    > header {
        padding: 0;
        position: fixed;
        box-shadow: 0 5px 6px rgba(0,0,0,.27);
        height: 60px;
        position: fixed;
        z-index: 999;
        background-size: 22% 50%
    }
    @include breakpoint(smallest) {
        > header {
            height:45px
        }
    }

    @include breakpoint(small) {
        > header {
            height:45px
        }
    }
}





.pagewidth {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1020px;
    position: relative;

    @include breakpoint(smallest) {
        width:90%;
    }

    @include breakpoint(small) {
        width:480px;
    }

    @include breakpoint(medium) {
        width:638px;
    }

    @include breakpoint(large) {
        width:992px;
    }

}

header {
    float: left;
    position: relative;
    width: 100%
}

#container{
    >header{
        hgroup {
            float: left;
            line-height: 60px;
            height: 60px;
            padding-left: 120px;
            position: relative;
            font-size: 30px;
            color: #dadada;

            @include breakpoint(smallest) {
                padding-left:79px;
                line-height: 45px;
            }

            @include breakpoint(small) {
                padding-left:79px;
                line-height: 45px;
            }

            logo {
                height: 80px;
                background: url(/Images/icon_color.png);
                padding: 5px;
                position: absolute;
                left: 0;
                top: -2px;
                width: 80px;
                background-size: 100%;
                box-shadow: 0 0 10px #000;

                &:hover {
                    background: url(/Images/icon_gray.png);
                    background-size: 100%
                }

                @include breakpoint(smallest) {
                    height:60px;
                    width: 60px;

                }

                @include breakpoint(small) {
                    height:60px;
                    width: 60px;
                }

                .theme-panel {
                    transition-property:width,height; 
                    @include css3(transition, .2s ease-out);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: 100%;
                    box-shadow: 2px 2px 10px #8c8c8c;
                    opacity: 0
                }
                &:hover .theme-panel {
                    width: 200%;
                    height: 200%;
                    opacity: 1;
                    top: 100%;
                    left: 0
                }
            }

        }  
    } 
}


#container > header hgroup logo .theme-panel .theme-rect:nth-child(9) {transition: transform 0.8s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(8) {transition: transform 0.7s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px) }
#container > header hgroup logo .theme-panel .theme-rect:nth-child(7) {transition: transform 0.6s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(6) {transition: transform 0.6s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(5) {transition: transform 0.5s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(4) {transition: transform 0.4s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(3) {transition: transform 0.4s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(2) {transition: transform 0.3s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}
#container > header hgroup logo .theme-panel .theme-rect:nth-child(1) {transition: transform 0.2s ease-in-out;transform: scale(0) translateY(-50px)  translateX(-50px)}


#container > header hgroup logo:hover .theme-panel .theme-rect {
    transform: scale(1) translateY(0px)  translateX(0px);
    position: initial;
    width: 33.3%;
    height: 33.3%;
    float: left;

}

#container > header hgroup logo .theme-panel .theme-rect:hover {
    transform: scale(1.1);
    @include css3(transition, transform 0.2s ease-out);
}

#container>header hgroup logo:hover .theme-panel .theme-rect i {
    width: 15px;
    margin-left: 30%
}

#container>header hgroup h3 {
    margin: -1px 0;
    float: left;
    margin-right: 35px;
    color: #fff;
    cursor: pointer!important
}

#container > header hgroup h3:nth-child(3n) {
    color: #7d7d7d;
    font-size: 25px
}

@include breakpoint(smallest) {
    #container > header hgroup h3:nth-child(3n) {
        display:none
    }

    #container>header hgroup h3 {
        font-size: 25px;
        margin-right: 0
    }
}

@include breakpoint(small) {
    #container > header hgroup h3:nth-child(3n) {
        display:none
    }

    #container>header hgroup h3 {
        font-size: 25px
    }
}

@include breakpoint(medium) {
    #container > header hgroup h3:nth-child(3n) {
        display:none
    }

    #container>header hgroup h3 {
        font-size: 25px
    }
}

#container>header nav {
    float: right;
    position: relative
}

#container>header nav .big-display {
    height: 60px;
    vertical-align: middle
}

#container>header nav .big-display a {
    font-size: 30px;
    color: #fff;
    line-height: 2em;
    border-right: solid 2px rgba(218,218,218,.4);
    padding: 0 10px;
    border-left: solid 2px rgba(218,218,218,.39);
    margin-left: -5px
}

#container>header nav .big-display a:hover {
    opacity: .7;
    background: rgba(0,0,0,.31)
}

#container>header nav .small-display {
    display: none
}

#container>header nav .small-display i {
    font-size: 25px;
    color: #fff;
    line-height: 2em;
    padding: 0 10px;
    margin-right: 0
}


@include breakpoint(smallest) {
    #container>header nav .big-display a {
        font-size:26px;
        color: #1d1b1b;
        line-height: 1em;
        border-right: solid 2px rgba(84,84,84,.4);
        padding: 0 10px;
        border-left: solid 2px rgba(105,105,105,.39);
        margin-left: -5px;
        background: rgba(0,0,0,.31)
    }
}

@include breakpoint(small) {
    #container>header nav .big-display a {
        font-size:24px;
        color: #fff;
        line-height: 2em;
        border-right: solid 2px rgba(218,218,218,.4);
        padding: 0 10px;
        border-left: solid 2px rgba(218,218,218,.39);
        margin-left: -5px
    }
}


.portfolio {
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 100px;
    min-height: 750px;
    
    article {
        cursor: pointer!important;
        position: relative;
        border-radius: 350px;
        margin: 2%;
        float: left;
        z-index: 0;
        overflow: hidden;
        width: 290px;
        height: 290px;
        box-shadow: 2px 2px 10px #8c8c8c;
        
        @include breakpoint(smallest) {
                width:100%;
                height: 123px;
                border-radius: 0;
                box-shadow: none;
                border: none;
                border-bottom: solid 1px #dadada;
        }
        
        @include breakpoint(small) {
                width:220px;
                height: 220px;            
        }

        @include breakpoint(medium) {
                width:290px;
                height: 290px;
        }

        @include breakpoint(large) {
                width:290px;
                height: 290px;
        }       
        
    }
}






.portfolio article:hover header {
    border: solid 7px rgba(0,0,0,.7)
}

.portfolio article:hover header img {
    @include css3(filter,none);
}

.portfolio article header {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    border: solid 7px rgba(189,189,189,.7);
    border-radius: 500px;
    float: left;
    @include css3(transition, 0.3s ease-in-out);
    transition-property: border
}

.portfolio article header img {
    width: calc(100%);
    height: calc(100%);
    border-radius: 500px;
    @include css3(filter,grayscale(100%));
    background-size: 100%;
}

@include breakpoint(smallest) {
    .portfolio article header {
        width:100px;
        height: 100px
    }
}

@include breakpoint(small) {
    .portfolio article header {
        border:solid 7px rgba(0,0,0,.7)
    }

    .portfolio article header img {
        @include css3(filter,none);
    }
}

@include breakpoint(medium) {
    .portfolio article header {
        border:solid 7px rgba(0,0,0,.7)
    }

    .portfolio article header img {
        @include css3(filter,none);
    }
}

@include breakpoint(large) {
    .portfolio article header {
    }
}

.portfolio article .details {
    @include css3(transition, top .3s ease-in-out);
    width: 100%;
    height: calc(75%);
    position: absolute;
    top: 100%;
    opacity: .7
}

.portfolio article:hover .details {
    top: 35%;
}

@include breakpoint(smallest) {
    .portfolio article .details {
        top:0;
        left: 120px;
        opacity: .8;
        border-radius: 5px;
        width: calc(100% - 130px);
        height: 93%;
        background: transparent!important
    }

    .portfolio article:hover .details {
        top: 0%
    }
}

@include breakpoint(small) {
    .portfolio article .details {
        top:25%
    }
}

@include breakpoint(medium) {
    .portfolio article .details {
        top:25%
    }
}

@include breakpoint(large) {
    .portfolio article:hover .details {
        top:35%
    }
}

.portfolio article .details h4 {
    text-align: center;
    font-size: 35px;
    margin: 10px 0
}

.portfolio article .details h5 {
    text-align: center;
    font-size: 20px;
    margin: 0 20px;
    font-style: italic
}

@include breakpoint(smallest) {
    .portfolio article .details h4 {
        text-align:center;
        font-size: 24px;
        margin: 10px 0;
        color: #f3f3f3
    }

    .portfolio article .details h5 {
        text-align: center;
        font-size: 15px;
        margin: 0 20px;
        color: #909090;
        font-style: italic;
        text-shadow: 1px 1px 2px #000
    }
}

@include breakpoint(small) {
    .portfolio article .details h4 {
        text-align:center;
        font-size: 24px;
        margin: 10px 0;
        color: #fff
    }

    .portfolio article .details h5 {
        text-align: center;
        font-size: 15px;
        margin: 0 20px;
        color: #fff;
        font-style: italic
    }
}

@include breakpoint(medium) {
    .portfolio article .details h4 {
        text-align:center;
        font-size: 35px;
        margin: 10px 0
    }

    .portfolio article .details h5 {
        text-align: center;
        font-size: 20px;
        margin: 0 20px
    }
}

@include breakpoint(large) {
    .portfolio article .details h4 {
        text-align:center;
        font-size: 35px;
        margin: 10px 0
    }

    .portfolio article .details h5 {
        text-align: center;
        font-size: 20px;
        margin: 0 20px
    }
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom:1}

.work-details-container {
    position: relative;
    width: 100%;
    padding-top: 100px
}

.work-details-container .img-container {
    position: relative;
    width: 50%;
    float: left;
    min-height: 757px
}

@include breakpoint(smallest) {
    .work-details-container .img-container {
        width:100%;
        float: left
    }
}

@include breakpoint(small) {
    .work-details-container .img-container {
        width:100%;
        float: left
    }
}

.work-details-container .img-container img {
    position: relative;
    top: 0;
    left: 0;
    border: 5px solid #f3f3f3;
    box-shadow: 1px 1px 2px #666;
    width: 80%;
    margin: 0 auto;
    display: block;
    @include css3(transition, .3s ease-in-out);
    transition-property: height,transform,z-index;
}

.work-details-container .img-container img:hover {
    z-index: 1000!important;
    height: 110%;
    transform: rotate(0deg) scale(1.4)!important
}

.work-details-container .img-container img:nth-child(1):hover {
}

.work-details-container .img-container img:nth-child(1) {
    z-index: 100;
    transform: rotate(-6deg)
}

.work-details-container .img-container img:nth-child(2) {
    z-index: 99;
    transform: rotate(8deg)
}

.work-details-container .img-container img:nth-child(3) {
    z-index: 98;
    transform: rotate(-8deg)
}

.work-details-container .img-container img:nth-child(4) {
    z-index: 97;
    transform: rotate(12deg)
}

.work-details-container .img-container img:nth-child(5) {
    z-index: 96;
    transform: rotate(-16deg)
}

.work-details-container .img-container img:nth-child(6) {
    z-index: 95;
    transform: rotate(18deg)
}

.work-details-container .work-header {
    position: relative;
    width: 50%;
    margin: 0 auto;
    float: right
}

@include breakpoint(smallest) {
    .work-details-container .work-header {
        width:100%;
        float: left
    }
}

@include breakpoint(small) {
    .work-details-container .work-header {
        width:100%;
        float: left
    }
}

.work-details-container .work-header .work-name {
    font-size: 40px
}

.work-details-container .work-header .work-description {
    font-size: 23px;
    font-style: italic;
    color: #c1c1c1
}

.work-details-container .work-header .work-detailed-decription {
    position: relative;
}

.work-details-container .work-header .view-website {
    @include css3(transition, box-shadow .1s ease-out);
    background: $theme-blue;
    padding: 5px 20px;
    border-radius: 5px;
    color: #d4d4d4;
    font-weight: bold
} 

.work-details-container .work-header .view-website:hover {
    box-shadow: 1px 4px 5px rgba(0,0,0,.7)
}

.about-container {
    position: relative;
    width: 100%;
    padding-top: 100px
}

.about-container .intro {
    color: #fff;
    text-shadow: 1px 2px 6px rgba(0,0,0,.26)
}

.about-container .intro h3 {
    text-align: center;
    font-size: 30px
}

.about-container .intro h2 {
    text-align: center;
    font-size: 40px;
    border-bottom: solid 1px #dadada;
    padding-bottom: 20px
}

.about-me {
    padding: 0 20px
}

.about-me:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    background-color: #000000;
    background-image: url(/Images/i.jpg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    @include css3(background-size,cover);
    border-radius: 0 30px 30px;
}

.about-me h4 {
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 3px #000
}

.about-me h4 a {
    color: rgba(0,123,148,.84)
}

.about-me h5 {
    font-size: 20px
}

.about-container .me-links {
    padding-top: 15px
}

.about-container .me-links .linker {
    width: 16%;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 3px;
    @include css3(transition, background .2s ease-out);
    margin: 2%;
    float: left;
    position: relative;
}

@include breakpoint(smallest) {
    .about-container .me-links .linker {
        width:46%;
        margin: 2%
    }
}

@include breakpoint(small) {
    .about-container .me-links .linker {
        width:46%;
        margin: 2%
    }
}

@include breakpoint(medium) {
    .about-container .me-links .linker {
        width:21%;
        margin: 2%
    }
}

.about-container .me-links .linker .fa {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    transform: scale(1.3)
}

.about-container .me-links .linker .material-icons {
    opacity: 0;
    @include css3(transition,opacity .2s ease-out)
    font-size: 70px;
    right: 0;
    position: absolute;
    color: #fff
}

.about-container .me-links .linker:hover .material-icons {
    opacity: 1
}

.about-container .me-links .linker:hover {
    background: rgba(169, 169, 169, 0.91);
}


footer {
    min-height: 126px;
    width: 100%;
    border-top: solid 10px rgba(0,0,0,.33);
    box-shadow: 0 -4px 6px rgba(0,0,0,.27);
    z-index: 999;
    opacity: .8;
    padding-top: 10px;
    margin: 32px 0 -20px 0
}

::-webkit-scrollbar {
    width: 13px
}

::-webkit-scrollbar-track {
    @include css3(box-shadow,inset 0 0 6px rgba(0,0,0,.3));
    @include css3(border-radius,10px);
}

::-webkit-scrollbar-thumb {
    @include css3(border-radius,10px);
    background: #d4d4d4;
    @include css3(box-shadow,inset 0 0 6px rgba(0,0,0,.5));
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #d4d4d4
}

.my-preloads {
    width: 0;
    height: 0;
    display: inline;
    background-image: url(/Images/icon_gray.png)
}

@import "loader";
@import "weather";