
<div class="divBlueBar">

    <div style="float:right;margin-right:15px">
        <span>Website Visit Count: {{TotalHitCount}} </span>
    </div>

    <span ng-show="IsSuperAdmin"> Super Admin </span>
    <span ng-show="IsUnitLevelAdmin"> Unit Level Admin </span>
    <span ng-show="IsPULevelAdmin"> PU Level Admin </span>
    <span ng-show="IsUser"> Normal User (HRD)</span>
    <div class="clearDiv"></div>

</div>
<glasswall-toast-notifications notifications="adminVM.notifications"></glasswall-toast-notifications>
<!--<input value="outlook" type="button" id="test" />-->

<div class="Panel100" style="min-height:0px" ng-cloak>
    <h4>Manage Units & Sub-Units</h4>
    <div class="accordion">

        <h3>
            Units>PUs>DUs
        </h3>
        <div>
            <ol class="tree">
                <li ng-cloak ng-repeat="Unit in AllUnitsPUsDUs" ng-init="Unit.Editable=false;NewUnitVisibility=false">
                    <label for={{Unit.UnitName}} style="background: url('CSS/jqTreeView/Unit.png') 15px 5px no-repeat;">
                        <span>{{Unit.UnitName}}</span> <!--<span style="color:#8b8b8b">|| Unit Strength: {{Unit.UnitStrength}}</span>-->
                    </label>
                    <div style="float:right;margin-top:-33px;margin-right:20px" ng-show="IsSuperAdmin">
                        <input ng-model="Unit.UnitName" ng-show="Unit.Editable==true" placeholder="Name" />
                        <!--<input ng-model="Unit.UnitStrength" ng-show="Unit.Editable==true" placeholder="Strength" />-->
                        <a ng-click="Unit.Editable=!Unit.Editable" ng-show="Unit.Editable==false">
                            <img style=" height: 25px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="left" title="Edit" />
                        </a>

                        <a ng-click="SaveItemOftype('Unit',Unit);Unit.Editable=!Unit.Editable" ng-show="Unit.Editable==true">
                            <img style=" height: 25px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="bottom" title="Save" />
                        </a>

                        <a ng-click="DeleteItemOftype('Unit',Unit.UnitID);Unit.Editable==false" ng-show="IsSuperAdmin">
                            <img style=" height: 25px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Delete" />
                        </a>

                    </div>
                    <input type="checkbox" id={{Unit.UnitName}} />

                    <ol>
                        <li ng-repeat="PU in Unit.lstPUs" ng-init="PU.Editable=false">
                            <label for={{(PU.PUName+Unit.UnitName)}} style="background: url('CSS/jqTreeView/PU.png') 15px 5px no-repeat;">
                                <span>{{PU.PUName}}</span><span style="color:#4c738b">|| PU Strength: {{PU.PUStrength}}</span>
                            </label>

                            <div style="float:right;margin-top:-33px;margin-right:20px" ng-show="IsSuperAdmin||IsUnitLevelAdmin||IsPULevelAdmin">
                                <input ng-model="PU.PUName" ng-show="PU.Editable==true" />
                                <input ng-model="PU.PUStrength" ng-show="PU.Editable==true" placeholder="Strength" />
                                <a ng-click="PU.Editable=!PU.Editable" ng-show="PU.Editable==false">
                                    <img style=" height: 25px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="left" title="Edit" />
                                </a>

                                <a ng-click="SaveItemOftype('PU',PU);PU.Editable=!PU.Editable" ng-show="PU.Editable==true">
                                    <img style=" height: 25px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="bottom" title="Save" />
                                </a>

                                <a ng-click="DeleteItemOftype('PU',PU.PUID);PU.Editable==false" ng-show="IsSuperAdmin">
                                    <img style=" height: 25px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="bottom" title="Delete" />
                                </a>

                            </div>

                            <input type="checkbox" id={{(PU.PUName+Unit.UnitName)}} />
                            <ol>
                                <li ng-repeat="DU in PU.lstDUs" style="background: url('CSS/jqTreeView/DU.png') 15px 5px no-repeat;" ng-init="DU.Editable=false">
                                    <a href="" style="margin-left:30px">{{DU.DUName}}</a>
                                    <div style="float:right;margin-right:15px">
                                        <input ng-model="DU.DUName" ng-show="DU.Editable==true" />
                                        <a ng-click="DU.Editable=!DU.Editable" ng-show="DU.Editable==false && (IsSuperAdmin||IsUnitLevelAdmin||IsPULevelAdmin)">
                                            <img style="height:25px; cursor:pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="left" title="Edit" />
                                        </a>

                                        <a ng-click="SaveItemOftype('DU',DU);DU.Editable=!DU.Editable" ng-show="DU.Editable==true">
                                            <img style=" height: 25px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="bottom" title="Save" />
                                        </a>

                                        <a ng-click="DeleteItemOftype('DU',DU.DUID);DU.Editable==false" ng-show="IsSuperAdmin">
                                            <img style=" height: 25px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="bottom" title="Delete" />
                                        </a>

                                    </div>
                                </li>

                                <li class="file" ng-show="IsSuperAdmin||IsUnitLevelAdmin||IsPULevelAdmin">
                                    <a href="" ng-click="ShowAddNewItemOfType('DU',Unit,PU)">Add a <img style="width:22px" src="CSS/jqTreeView/DU.png" /></a>

                                    <div class="success" ng-show="PU.NewDUVisibility==true" ng-init="PU.NewDUVisibility=false">
                                        <input class="form-control input-sm" type="text" ng-model="NewDU.DUName" style="width: 84%; float: left; height: 35px">
                                        <a ng-click="PU.NewDUVisibility=false" style="width:8%;float:right;background:none">
                                            <img style=" height:25px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                                        </a>
                                        <a ng-click="SaveItemOftype('DU',NewDU);PU.NewDUVisibility=false" style="width: 8%; float: right; background: none">
                                            <img style=" height: 25px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Edit" />
                                        </a>
                                        <div class="clearDiv"></div>
                                    </div>
                                </li>

                            </ol>
                        </li>

                        <li class="file" ng-show="IsSuperAdmin||IsUnitLevelAdmin">
                            <a href="" ng-click="ShowAddNewItemOfType('PU',Unit);">Add a <img style="width:22px" src="CSS/jqTreeView/PU.png" /></a>

                            <div class="success" ng-show="Unit.NewPUVisibility==true" ng-init="Unit.NewPUVisibility=false">
                                <input class="form-control input-sm" type="text" ng-model="NewPU.PUName" style="width: 42%; float: left;height:35px">
                                <input class="form-control input-sm" placeholder="Give PU Strength" type="text" ng-model="NewPU.PUStrength" style="width: 42%; float: left;height:35px">

                                <a ng-click="Unit.NewPUVisibility=false" style="width:8%;float:right;background:none">
                                    <img style=" height:25px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="bottom" title="Cancel" />
                                </a>
                                <a ng-click="SaveItemOftype('PU',NewPU);Unit.NewPUVisibility=false" style="width: 8%; float: right; background: none">
                                    <img style=" height: 25px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="bottom" title="Edit" />
                                </a>
                                <div class="clearDiv"></div>
                            </div>

                        </li>

                    </ol>
                </li>

                <li class="file" ng-show="IsSuperAdmin">
                    <a href="" ng-click="ShowAddNewItemOfType('Unit')">Add a <img style="width:22px" src="CSS/jqTreeView/Unit.png" /></a>

                    <div class="success" ng-show="NewUnitVisibility==true" ng-init="NewUnitVisibility=false">
                        <input class="form-control input-sm" placeholder="Give a Unit Name" type="text" ng-model="NewUnit.UnitName" style="width: 84%; float: left;height:35px">
                        <!--<input class="form-control input-sm" placeholder="Give Unit Strength" type="text" ng-model="NewUnit.UnitStrength" style="width: 42%; float: left;height:35px">-->

                        <a ng-click="NewUnitVisibility=false" style="width:8%;float:right;background:none">
                            <img style=" height:25px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                        </a>
                        <a ng-click="SaveItemOftype('Unit',NewUnit);NewUnitVisibility=false" style="width: 8%; float: right; background: none">
                            <img style=" height: 25px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="bottom" title="Edit" />
                        </a>

                        <div class="clearDiv"></div>
                    </div>

                </li>
            </ol>
        </div>
    </div>
</div>

<div class="Panel100" ng-show="IsSuperAdmin" ng-cloak>
    <h4>Manage Forum Specifics</h4>
    <div class="accordion">

        <h3>
            ForumTypes
            <a ng-click="ShowAddNewItemOfType('ForumType')" onclick="preventCollapse(event,this)" class="btn btn-primary btn-sm" style="position:absolute;right:2px;bottom:2px;top:2px;" data-toggle="tooltip" data-placement="left" title="Add a ForumType">
                <img style=" height: 8px; width: 8px; cursor: pointer" src="Images/AddPart.png" />
            </a>
        </h3>
        <div>
            <table class="table table-striped table-hover" style="table-layout: fixed; width: 100%; max-height: 250px; font-size: 11px;">
                <thead>
                    <tr class="active">
                        <th style="width:10%">SI#</th>
                        <th style="width:65%">ForumType Name</th>
                        <th style="width:10%">Edit</th>
                        <th style="width:15%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" ng-show="NewForumTypeVisibility==true" ng-init="NewForumTypeVisibility=false">
                        <td style="width:10%">
                            *
                        </td>
                        <td style="width:65%">
                            <input class="form-control input-sm" type="text" ng-model="NewForumType.ForumTypeName">
                        </td>
                        <td style="width:10%">
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('ForumType',NewForumType);NewForumTypeVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Edit" />
                            </a>
                        </td>
                        <td style="width:15%">
                            <a class="btn btn-danger btn-sm" ng-click="NewForumTypeVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                            </a>
                        </td>
                    </tr>


                    <tr class="active" ng-repeat="ForumType in AllForumTypes" ng-init="ForumType.EditMode=false;">
                        <td style="width:10%">
                            {{($index+1)}}
                        </td>
                        <td style="width:65%">
                            <span ng-show="ForumType.EditMode==false">{{ForumType.ForumTypeName}}</span>
                            <input class="form-control input-sm" type="text" ng-model="ForumType.ForumTypeName" ng-show="ForumType.EditMode==true">
                        </td>
                        <td style="width:10%">
                            <a class="btn btn-default btn-sm" ng-click="ForumType.EditMode=!ForumType.EditMode" ng-show="ForumType.EditMode==false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" />

                            </a>
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('ForumType',ForumType);ForumType.EditMode=!ForumType.EditMode" ng-show="ForumType.EditMode==true">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Save" />

                            </a>
                        </td>
                        <td style="width:15%">
                            <a class="btn btn-danger btn-sm" ng-click="DeleteItemOftype('ForumType',ForumType.ForumTypeID);ForumType.EditMode=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Delete" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>
            MOMTypes
            <a ng-click="ShowAddNewItemOfType('MOMType')" onclick="preventCollapse(event,this)" class="btn btn-primary btn-sm" style="position:absolute;right:2px;bottom:2px;top:2px;" data-toggle="tooltip" data-placement="left" title="Add a MOMType">
                <img style=" height: 8px; width: 8px; cursor: pointer" src="Images/AddPart.png" />
            </a>
        </h3>
        <div>
            <table class="table table-striped table-hover" style="table-layout: fixed; width: 100%; max-height: 250px; font-size: 11px;">
                <thead>
                    <tr class="active">
                        <th style="width:10%">SI#</th>
                        <th style="width:65%">MOMType Name</th>
                        <th style="width:10%">Edit</th>
                        <th style="width:15%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" ng-show="NewMOMTypeVisibility==true" ng-init="NewMOMTypeVisibility=false">
                        <td style="width:10%">
                            *
                        </td>
                        <td style="width:65%">
                            <input class="form-control input-sm" type="text" ng-model="NewMOMType.MOMTypeName">
                        </td>
                        <td style="width:10%">
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('MOMType',NewMOMType);NewMOMTypeVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Edit" />
                            </a>
                        </td>
                        <td style="width:15%">
                            <a class="btn btn-danger btn-sm" ng-click="NewMOMTypeVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                            </a>
                        </td>
                    </tr>


                    <tr class="active" ng-repeat="MOMType in AllMOMTypes" ng-init="MOMType.EditMode=false;">
                        <td style="width:10%">
                            {{($index+1)}}
                        </td>
                        <td style="width:65%">
                            <span ng-show="MOMType.EditMode==false">{{MOMType.MOMTypeName}}</span>
                            <input class="form-control input-sm" type="text" ng-model="MOMType.MOMTypeName" ng-show="MOMType.EditMode==true">
                        </td>
                        <td style="width:10%">
                            <a class="btn btn-default btn-sm" ng-click="MOMType.EditMode=!MOMType.EditMode" ng-show="MOMType.EditMode==false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" />

                            </a>
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('MOMType',MOMType);MOMType.EditMode=!MOMType.EditMode" ng-show="MOMType.EditMode==true">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Save" />

                            </a>
                        </td>
                        <td style="width:15%">
                            <a class="btn btn-danger btn-sm" ng-click="DeleteItemOftype('MOMType',MOMType.MOMTypeID);MOMType.EditMode=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Delete" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>
            Locations
            <a ng-click="ShowAddNewItemOfType('Location')" onclick="preventCollapse(event,this)" class="btn btn-primary btn-sm" style="position:absolute;right:2px;bottom:2px;top:2px;" data-toggle="tooltip" data-placement="left" title="Add a Location">
                <img style=" height: 8px; width: 8px; cursor: pointer" src="Images/AddPart.png" />
            </a>
        </h3>
        <div>
            <table class="table table-striped table-hover" style="table-layout:fixed; width:100%;font-size:11px;">
                <thead>
                    <tr class="active">
                        <th style="width:10%">SI#</th>
                        <th style="width:65%">Location Name</th>
                        <th style="width:10%">Edit</th>
                        <th style="width:15%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success" ng-show="NewLocationVisibility==true" ng-init="NewLocationVisibility=false">
                        <td style="width:10%">
                            *
                        </td>
                        <td style="width:65%">
                            <input class="form-control input-sm" type="text" ng-model="NewLocation.LocationName">
                        </td>
                        <td style="width:10%">
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('Location',NewLocation);NewLocationVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Edit" />
                            </a>
                        </td>
                        <td style="width:15%">
                            <a class="btn btn-danger btn-sm" ng-click="NewLocationVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                            </a>
                        </td>
                    </tr>


                    <tr class="active" ng-repeat="Location in AllLocations" ng-init="Location.EditMode=false;">
                        <td style="width:10%">
                            {{($index+1)}}
                        </td>
                        <td style="width:65%">
                            <span ng-show="Location.EditMode==false">{{Location.LocationName}}</span>
                            <input class="form-control input-sm" type="text" ng-model="Location.LocationName" ng-show="Location.EditMode==true">
                        </td>
                        <td style="width:10%">
                            <a class="btn btn-default btn-sm" ng-click="Location.EditMode=!Location.EditMode" ng-show="Location.EditMode==false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" />

                            </a>
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('Location',Location);Location.EditMode=!Location.EditMode" ng-show="Location.EditMode==true">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Save" />

                            </a>
                        </td>
                        <td style="width:15%">
                            <a class="btn btn-danger btn-sm" ng-click="DeleteItemOftype('Location',Location.LocationID);Location.EditMode=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Delete" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="Panel100" ng-show="IsSuperAdmin||IsUnitLevelAdmin||IsPULevelAdmin" style="min-height:0px" ng-cloak>
    <h4>Manage Users</h4>
    <div class="accordion">
        <h3>
            Users you can manage
            <a ng-click="ShowAddNewItemOfType('User')" onclick="preventCollapse(event, this)" class="btn btn-primary btn-sm" style="position:absolute;right:2px;bottom:2px;top:2px" data-toggle="tooltip" data-placement="left" title="Add an User">
                <img style=" height: 8px; width: 8px; cursor: pointer" src="Images/AddPart.png" />
            </a>
        </h3>
        <div>
            <table class="table table-striped table-hover" style="table-layout: fixed; width: 100%; max-height: 250px; font-size: 11px;">
                <thead>
                    <tr class="active">
                        <th style="width:5%">SI#</th>
                        <th style="width: 7%">
                            Chat
                            <img style="width:22px" src="Images/chat.png" />
                        </th>
                        <th style="width: 18%">EmailID</th>
                        <th style="width: 18%">Unit</th>
                        <th style="width: 18%">PU</th>
                        <th style="width: 18%">DU</th>
                        <th style="width:8%">Edit</th>
                        <th style="width:8%">Delete</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="success" ng-show="NewUserVisibility==true" ng-init="NewUserVisibility=false">
                        <td style="width:10%">
                            *
                        </td>
                        <td style="width: 5%">
                            <a href="sip:{{NewUser.EmailID}}@infosys.com">
                                <div id="LyncImg" style="margin-top:5px">
                                    <img style="width:30px;" ng-src="{{ImgPathBegin}}{{NewUser.EmailID}}{{ImgPathEnd}}" onerror="this.src='Images/user.png';" />
                                </div>
                            </a>
                        </td>
                        <td style="width: 18%">
                            <input class="form-control input-sm" type="text" placeholder="Email ID (without @infosys.com)" ng-model="NewUser.EmailID">
                        </td>
                        <td style="width: 18%">
                            <select class="form-control input-sm" ng-model="NewUser.UnitID" ng-change="setResultPUsForUser(NewUser)" ng-options="item.UnitID as item.UnitName for item in NewUser.cb_AllUnitsPUsDUs"></select>
                        </td>
                        <td style="width: 18%">
                            <select class="form-control input-sm" ng-model="NewUser.PUID" ng-change="setResultDUsForUser(NewUser)" ng-options="item2.PUID as item2.PUName for item2 in NewUser.ResultedPUsNew"></select>
                        </td>
                        <td style="width: 18%">
                            <select class="form-control input-sm" ng-model="NewUser.DUID" ng-options="item3.DUID as item3.DUName for item3 in NewUser.ResultedDUsNew"></select>
                        </td>
                        <td style="width: 8%">
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('User',NewUser);NewUserVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Save" />
                            </a>
                        </td>
                        <td style="width:8%">
                            <a class="btn btn-danger btn-sm" ng-click="NewUserVisibility=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                            </a>
                        </td>
                    </tr>


                    <tr class="active" ng-repeat="U in AllUsers" ng-init="U.EditMode=false;" ng-cloak>
                        <td style="width:5%" title="{{U.cb_AllUnitsPUsDUs}}">
                            {{($index+1)}}
                        </td>
                        <td style="width: 5%">
                            <a href="sip:{{U.EmailID}}@infosys.com">
                                <div id="LyncImg">
                                    <img style="width:30px" ng-src="{{ImgPathBegin}}{{U.EmailID}}{{ImgPathEnd}}" onerror="this.src='Images/user.png';" />
                                </div>
                            </a>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-show="U.EditMode==false">{{U.EmailID}}</span>
                            <input class="form-control input-sm" type="text" ng-model="U.EmailID" ng-show="U.EditMode==true">
                        </td>
                        <td style="width: 19.75%">
                            <span ng-repeat="UNIT in U.cb_AllUnitsPUsDUs" ng-if="U.UnitID==UNIT.UnitID" ng-show="U.EditMode==false" data-toggle="tooltip" data-container="body" data-placement="top" title={{UNIT.UnitName}}>{{UNIT.UnitName}}</span>
                            <select ng-show="U.EditMode==true" class="form-control input-sm" ng-model="U.UnitID" ng-change="setResultPUsForUser(U)" ng-options="item.UnitID as item.UnitName for item in U.cb_AllUnitsPUsDUs"></select>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-repeat="PU in U.ResultedPUsNew" ng-if="U.PUID==PU.PUID" ng-show="U.EditMode==false" data-toggle="tooltip" data-container="body" data-placement="top" title={{PU.PUName}}>{{PU.PUName }}</span>
                            <select ng-show="U.EditMode==true" class="form-control input-sm" ng-model="U.PUID" ng-change="setResultDUsForUser(U)" ng-options="item2.PUID as item2.PUName for item2 in U.ResultedPUsNew"></select>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-repeat="DU in U.ResultedDUsNew" ng-if="U.DUID==DU.DUID" ng-show="U.EditMode==false" data-toggle="tooltip" data-container="body" data-placement="top" title={{DU.DUName}}>{{DU.DUName }}</span>
                            <select ng-show="U.EditMode==true" class="form-control input-sm" ng-model="U.DUID" ng-options="item3.DUID as item3.DUName for item3 in U.ResultedDUsNew"></select>
                        </td>
                        <td style="width:8%">
                            <a class="btn btn-default btn-sm" ng-click="U.EditMode=!U.EditMode" ng-show="U.EditMode==false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" />

                            </a>
                            <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('User',U);U.EditMode=!U.EditMode" ng-show="U.EditMode==true">
                                <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Save" />
                            </a>
                        </td>
                        <td style="width:8%">
                            <a class="btn btn-danger btn-sm" ng-click="DeleteUser(U.EmailID);U.EditMode=false">
                                <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Delete" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<script>

    $(function () {
        $(".accordion").accordion({ active: false, collapsible: true, autoHeight: false, heightStyle: "content", navigation: true, icons: { "header": "ui-icon-plus", "headerSelected": "ui-icon-minus" } }).show(300);
    })

    function preventCollapse(event, ctrl) {
        if ($(ctrl).parent()[0].classList.contains("ui-state-active") == true) {
            event.stopPropagation(); // this is
            event.preventDefault(); // the magic
        }
    }
</script>

<div class="Panel100" style="min-height:0px" ng-show="IsSuperAdmin">
    <h4>Super Admins</h4>
    <div class="accordion">

        <h3 ng-show="IsSuperAdmin">
            Super Admins
            <a ng-show="false" onclick="preventCollapse(event, this)" class="btn btn-primary btn-sm" style="position:absolute;right:2px;bottom:2px;top:2px" data-toggle="tooltip" data-placement="left" title="Add a Forum type">
                <img style=" height: 8px; width: 8px; cursor: pointer" src="Images/AddPart.png" />
            </a>
        </h3>
        <div ng-show="IsSuperAdmin">
            <table class="table table-striped table-hover" style="table-layout: fixed; width: 100%; max-height: 250px; font-size: 11px;">
                <thead>
                    <tr class="active">
                        <th style="width:5%">SI#</th>
                        <th style="width: 5%">
                            Chat
                            <img style="width:22px" src="Images/chat.png" />
                        </th>
                        <th style="width: 19.75%">EmailID</th>
                        <th style="width: 19.75%">Unit</th>
                        <th style="width: 19.75%">PU</th>
                        <th style="width: 19.75%">DU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak class="active" ng-repeat="SupAdmn in SuperAdmins" ng-init="SupAdmn.EditMode=false;">
                        <td style="width:5%">
                            {{($index+1)}}
                        </td>
                        <td style="width: 5%">
                            <a href="sip:{{SupAdmn.EmailID}}@infosys.com">
                                <div id="LyncImg">
                                    <img style="width:30px" ng-src="{{ImgPathBegin}}{{SupAdmn.EmailID}}{{ImgPathEnd}}" onerror="this.src='Images/user.png';" />
                                </div>
                            </a>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-show="SupAdmn.EditMode==false">{{SupAdmn.EmailID}}</span>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-show="SupAdmn.EditMode==false" data-toggle="tooltip" data-container="body" data-placement="top" title={{SupAdmn.UnitName}}>{{SupAdmn.UnitName}}All</span>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-show="SupAdmn.EditMode==false" data-toggle="tooltip" data-container="body" data-placement="top" title={{SupAdmn.PUName}}>{{SupAdmn.UnitName}}All</span>
                        </td>
                        <td style="width: 19.75%">
                            <span ng-show="SupAdmn.EditMode==false" data-toggle="tooltip" data-container="body" data-placement="top" title={{SupAdmn.DUName}}>{{SupAdmn.UnitName}}All</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<script>

    $(function () {
        $(".accordion").accordion({ active: true, collapsible: true, autoHeight: false, heightStyle: "content", navigation: true, icons: { "header": "ui-icon-plus", "headerSelected": "ui-icon-minus" } }).show(300);
    })

    function preventCollapse(event, ctrl) {
        if ($(ctrl).parent()[0].classList.contains("ui-state-active") == true) {
            event.stopPropagation(); // this is
            event.preventDefault(); // the magic
        }
    }
</script>

