<table class="table table-striped table-hover" style="table-layout:fixed; width:100%;font-size:11px;">
    <thead>
        <tr class="active">
            <th style="width:10%">SI#</th>
            <th style="width:65%">Location Name</th>
            <th style="width:10%">Edit</th>
            <th style="width:15%">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success" ng-show="NewLocationVisibility==true" ng-init="NewLocationVisibility=false">
            <td style="width:10%">
                *
            </td>
            <td style="width:65%">
                <input class="form-control input-sm" type="text" ng-model="NewLocation.LocationName">
            </td>
            <td style="width:10%">
                <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('Location',NewLocation);NewLocationVisibility=false">
                    <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Edit" />
                </a>
            </td>
            <td style="width:15%">
                <a class="btn btn-danger btn-sm" ng-click="NewLocationVisibility=false">
                    <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Cancel" />
                </a>
            </td>
        </tr>


        <tr class="active" ng-repeat="Location in AllLocations" ng-init="Location.EditMode=false;">
            <td style="width:10%">
                {{($index+1)}}
            </td>
            <td style="width:65%">
                <span ng-show="Location.EditMode==false">{{Location.LocationName}}</span>
                <input class="form-control input-sm" type="text" ng-model="Location.LocationName" ng-show="Location.EditMode==true">
            </td>
            <td style="width:10%">
                <a class="btn btn-default btn-sm" ng-click="Location.EditMode=!Location.EditMode" ng-show="Location.EditMode==false">
                    <img style=" height: 15px;  cursor: pointer" src="Images/edit.png" data-toggle="tooltip" data-placement="top" title="Edit" />

                </a>
                <a class="btn btn-info btn-sm" ng-click="SaveItemOftype('Location',Location);Location.EditMode=!Location.EditMode" ng-show="Location.EditMode==true">
                    <img style=" height: 15px;  cursor: pointer" src="Images/Save.png" data-toggle="tooltip" data-placement="top" title="Save" />

                </a>
            </td>
            <td style="width:15%">
                <a class="btn btn-danger btn-sm" ng-click="DeleteItemOftype('Location',Location.LocationID);Location.EditMode=false">
                    <img style=" height: 15px;  cursor: pointer" src="Images/delete.png" data-toggle="tooltip" data-placement="top" title="Delete" />
                </a>
            </td>
        </tr>
    </tbody>
</table>