<div class="work-details-container" ng-cloak>
    <a href="/#/works">Go back to works</a>
    <br />
    <!--<div ng-include="'ng_app/components/work_details/Partials/'+work_detailsVM.activeWork.name+'/'+work_detailsVM.activeWork.name+'.html'">
    </div>-->
    <div class="work-details-page">

        <div class="img-container">
            <img ng-cloak ng-repeat="i in work_detailsVM.arrr" ng-src="ng_app/components/work_details/Partials/{{work_detailsVM.activeWork.name}}/Images/{{i.index}}.png" onerror="var _this = this; window.setTimeout(function () { _this.style.display = 'none' }, 1000)" />
        </div>
        <div class="work-header">
            <h2 class="work-name">{{work_detailsVM.activeWork.name}}</h2>
            <h3 class="work-description">{{work_detailsVM.activeWork.description}}</h3>

            <h4 class="work-detailed-decription">{{work_detailsVM.activeWork.detailed}}</h4>
        </div>

    </div>

</div>