<div class="divBlueBar">

    <div style="float:right;margin-right:15px">
        <span>Website Visit Count: {{TotalHitCount}} </span>
    </div>

    <div class="clearDiv"></div>

</div>
<glasswall-toast-notifications notifications="creditsVM.notifications"></glasswall-toast-notifications>

<style>
    .interviewLeft {
        height: auto;
        padding: 2%;
        border-bottom: 1px solid rgba(40, 119, 170, 0.49);
    }

        .interviewLeft h2 {
            color: #2877AA;
            font-style: italic;
            font-size: 30px;
            text-align: left;
            margin: 0px;
        }

        .interviewLeft a {
            text-decoration: none;
            color: #2877AA;
            font-weight: bold;
            border-bottom: 1px Solid rgba(40, 119, 170, 0.49);
            font-size: 18px;
            transition: all 0.3s;
            line-height: 2em;
        }

            .interviewLeft a:hover {
                text-decoration: none;
                color: #2877AA;
                font-weight: bold;
                border-bottom: 4px Solid #2877AA;
                font-size: 22px;
            }

        .interviewLeft span {
            color: white;
            width: 75%;
            text-align: left;
            font-size: 18px;
            font-style: italic;
            line-height: 1.5em;
        }

            .interviewLeft span a {
                color: white;
                width: 75%;
                cursor: pointer;
            }

        .interviewLeft img {
            float: right;
            max-width: 100%;
            margin-left: 20px;
        }
</style>

<div class="interviewLeft">
    <h2>Behind the scene:</h2>
    <span>


        <!--<a href="mailto:vinu_sekhar@infosys.com">
            Vinu Sekhar
        </a>
        <br />-->

        <a href="mailto:Bianca_Sebastian@infosys.com">
            Bianca Sebastian
        </a>
        <br />

        <a href="mailto:deepa_premkumar@infosys.com">
            Deepa Premkumar
        </a>
        <br />
        <a href="mailto:Vaishnavi_S05@infosys.com">
            Vaishnavi Sathyanarayana Rao
        </a>
        <br />


    </span>
</div>


<div class="interviewLeft">
    <h2 style="font-size:20px">Website Designed / Developed By:</h2>
    <span>
        <a href="sip:Ebin_ipe@infosys.com">
            Ebin Ipe
        </a>
        <br />
        <a href="sip:Ganesh_phirke@infosys.com">
            Ganesh Phirke
        </a>
        <br />
        <a href="sip:Chintu_k@infosys.com">
            Chintu Kishen Kuthirangattil Mohandas
        </a>
    </span>
</div>