<div class="portfolio" ng-click="worksVM.AppService.LoadTimer(3000);">



    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





    <article>
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>Something Something</h4>
            <h5>something something goes here..</h5>
        </div>
    </article>





</div>