<div class="portfolio">


    <article ng-repeat="work in worksVM.allWorks" ng-click="worksVM.goToDetails(work.name)">
        <header ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font">
            <img src="ng_app/components/works/Partials/Images/{{::work.name}}.png" />
        </header>
        <div class="details" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].bg">
            <h4>{{::work.name}}</h4>
            <h5>{{::work.description}}</h5>
        </div>
    </article>


</div>