<div class="divBlueBar">

    <div style="float:right">
        <input ng-model="query" class="form-control input-sm SearchInput" type="text" id="inputSmall" placeholder="Search here">
    </div>

    <div class="clearDiv"></div>

</div>



<div id="AboutQuote" style="font-size:2em;color:#797979" >
    <br /><br />
    <br />
    "Anybody who writes a diary insists it must be read by someone else."

    <br /><br />
    <span style="text-align:right">-Peter Greenaway</span>

</div>

<glasswall-toast-notifications notifications="aboutVM.notifications"></glasswall-toast-notifications>