<div class="about-container">

    <div class="intro">

    </div>
    <div class="about-me">

    </div>
    <div class="me-links">
        <div class="linker">
            <a href="https://www.facebook.com/chin2km" name="facebook">
                <i class="fa fa-facebook fa-3x" aria-hidden="true" style="color: #3b5998">
                </i>
            </a>
        </div>
        <div class="linker">
            <a href="https://github.com/chin2km">
                <i class="fa fa-github fa-3x" aria-hidden="true" style="color: #666666">
                </i>
            </a>
        </div>
        <div class="linker">
            <a href="https://in.linkedin.com/in/chin2km"><i class="fa fa-linkedin fa-3x" aria-hidden="true" style="color: #0077b5"></i></a>
        </div>
        <div class="linker">
            <a href="https://medium.com/@chin2km">
                <i class="fa fa-medium fa-3x" aria-hidden="true" style="color: #82ffb5">
                </i>
            </a>
        </div>
        <div class="linker">
            <a href="https://twitter.com/chin2km"><i class="fa fa-twitter fa-3x" aria-hidden="true" style="color: #55acee"></i></a>
        </div>
        <div class="linker">
            <a href="http://stackoverflow.com/users/4395053/chin2km"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true" style="color: #fe7a15"></i></a>
        </div>

    </div>
</div>