<div class="about-container">

    <div class="intro">
        <h3>Hello World!</h3>
        <h2>I'm Chintu Kishen KM</h2>
    </div>
    <div class="about-me">
        <h5>About me</h5>
        <h4>
            Hello, my name is Chintu! I'm a designer and front end developer based in Kerala, India. Currently working at <a href="http://www.infosys.com" target="_blank">Infosys Ltd,Mysore</a>.
            <br /><br />
            I specialize in designing and developing user interfaces and digital products. My attention to detail is extreme and I love to continually learn what's new all things design-related.
            <br /><br />
            I have a strong passion for the creativity and discipline that goes into front-end development. Keeping in mind scalability and clean code that is maintainable and readable.
            <br /><br />
            In my free time, I enjoy being outdoors, listening to music, traveling and experiencing new and exciting adventures.
            <br /><br />
            You can get in touch with me in these social medias.
        </h4>
    </div>
    <div class="me-links">

        <a href="https://www.facebook.com/chin2km" class="linker" target="_blank">
            <i class="fa fa-facebook fa-3x" aria-hidden="true" style="color: #3b5998" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>

        <a href="https://github.com/chin2km" class="linker" target="_blank">
            <i class="fa fa-github fa-3x" aria-hidden="true" style="color: #666666" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>


        <a href="https://in.linkedin.com/in/chin2km" class="linker" target="_blank">
            <i class="fa fa-linkedin fa-3x" aria-hidden="true" style="color: #0077b5" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>

        </a>

        <a href="https://medium.com/@chin2km" class="linker" target="_blank">
            <i class="fa fa-medium fa-3x" aria-hidden="true" style="color: #82ffb5" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>

        <a href="https://twitter.com/chin2km" class="linker" target="_blank">
            <i class="fa fa-twitter fa-3x" aria-hidden="true" style="color: #55acee" ng-class="chin2kmThemes.allThemes[chin2kmThemes.activeTheme].font"></i>
            <i class="material-icons">call_made</i>
        </a>


    </div>
</div>