	<div class="portfolio" ng-click="aboutVM.AppService.LoadTimer(3000);">



			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
		
			
			<article>

			</article>
			
				
	</div>