	<div class="portfolio" ng-click="aboutVM.AppService.LoadTimer(3000);">



			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
			
		
			
			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
			
			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
			
			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
			
		
			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>

            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
            
            			<article>
                            <header>
                                
                            </header>
                            <div class="details">
                                
                            </div>
			</article>
			
				
	</div>